@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

.listItemBtn:hover{
    background-color: red;
}
.listItemBtn:active {
    color: white;
}

.listItemText{
    color: white;
}